::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	border-radius: 7px;
}

::-webkit-scrollbar-thumb {
	background: rgb(212, 72, 255);
}

::-webkit-scrollbar-thumb:hover {
  background: #0b5acf; 